*{
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
  font-size: 15px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

a, button, h1{
  font-family: "Shadows Into Light", cursive;
}

a{
  text-decoration: none;
  color: blue;
  font-size: 20px;
}

button{
  cursor: pointer;
  background-color: black;
  padding: 15px 25px;
  margin-right: 15px;
  border-radius: 4px;
  color: lightgrey;
  font-size: 18px;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px
}

button:focus {outline:0;}
button:hover{
  color:black;
  background-color: white;
}

h1{
  font-size: 35px;
}

#wrapper{
  background-color: lightgrey;
  max-width: 780px;
  margin: 50px auto;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 3fr;
  height: 100%;
  overflow: hidden;
}

.box{
  margin: 5px auto;
  padding:5px;
}

#intro{
  font-size: 18px;
  letter-spacing: 0.375px;
  text-align: justify;
}

#buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: black;
  color: lightgrey;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
}


#quote-text{
  margin-bottom: 10px;
  padding: 10px;
}
